/*========Login page========*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E9EBEE;
    font-family: 'Lucida Grande', tahoma,verdana,arial,sans-serif;
    font-style: normal;
}

header a {
    color: #b0bcd5;
    text-decoration: none;
    font-family: sans-serif;
}

.formulaire {
    width: 480px;
    display: flex;
    align-items: flex-end;
}

.formulaire div {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.container {
    margin: 8px 0 0 100px;
    font-size: 12px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: black;
    color: white;
}

label {
    font-size: 12px;
    margin-bottom: 4px;
}

.btn {
    background-color: #516ac1;
    border: solid rgba(0, 0, 0, 0.3) 0.1em;
    color: white;
    font-family: helvetica, arial, sans-serif;
    font-size: 13px;
    padding: 4px 6px;
    margin-bottom: 2px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 3px;
    outline: none;
}

.logo {
    margin-top: 10px;
    width: auto;
    cursor: pointer;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.forgot {
    margin: 2px 0 0 200px;
    color: #6d84b4;
}

input {
    padding: 3px;
}

.left {
    margin: 100px 650px 0 150px
}

.connect {
    color: rgba(0, 0, 0, 0.85);
    font-size: 24px;
    margin-bottom: 50px;
}

.center_list {
    list-style: none;
    padding-bottom:10px;
    margin-top:20px;
}

.list {
    float: left;
    margin-top: -40px;
    margin-bottom: 50px;
    padding-bottom:20px;
}

.img-list {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

.right {
    float: right;
    margin-top: -180px;
    margin-right: 50px;
}

.inputs {
    margin-top: 25px
}

.input {
    padding-left: 10px;
    font-size: 19px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid rgba(78, 78, 78, 0.5);
    height: 40px;
}

.input_1 {
    width: 190px;
}

.input_2 {
    width: 385px;
}

select {
    margin-top: 6px;
    padding: 6px;
    margin-left: -6px
}

.why {
    margin: -30px 0 0 195px;
    font-size: 10px;
    font-family: sans-serif;
}

.terms {
    font-size: 10px;
    width: 306px;
    margin-top: 10px;
    margin-bottom:30px;
    color: rgba(0, 0, 0, 0.6)
}

.terms_a {
    text-decoration: none;
    color: #32549b;
}

.signUp {
    /*margin-top:20px;*/
    margin-bottom:5px;
    font-family: 'Open Sans',sans-serif;
    text-rendering:optimizelegibility;
    color:#333;
    position: relative;
    top: 5px;
    left: 100px;
    z-index: 1;
}

.signUpSub {
    font-size:16px;
    margin-bottom:20px;
    color:#333;
}

.signUpBtn {
    text-decoration:none;
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 1px;
    color:#fff;
    min-width: 100px;
    padding: 7px 20px;
    text-align: center;
    -webkit-border-radius: 5px;
    background: -webkit-linear-gradient(#67ae55, #578843);
    -webkit-box-shadow: inset 0 1px 1px #a4e388;
    border: 1px solid;
    border-color: #3b6e22 #3b6e22 #2c5115;
    margin-top: 10px;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
    cursor:pointer;
}

.signUpBtn:hover {
    background: -webkit-linear-gradient(#79bc64, #578843);
}

.signUpBtn:active {
    position: relative;
    top: 1px;
}

.formbox {
    display: inline-block;
    width:399px;
}

.create {
    border-top: 1px solid #a0a9c0;
    color: #666;
    font-size: 13px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom:30px;
    padding-top: 15px;
}

.create a {
    text-decoration:none;
}

.male, .female {
    font-size:16px;
}

p .error {
    color: red;
    font-weight: bold;
}

.contain {
    display: grid;
    grid-template-columns: auto 65% auto;
    grid-template-areas: ". body .";
}

div .body {
    display: block;
    grid-area: body;
    width: 100%;
    height: auto;
}

.post {
    display: block;
    width: 100%;
    height: auto;
    background: white;
    margin: 20px 0px;
    border-radius: 10px;
    padding: 3px;
}

.post-text {
    color: #333333;
    font-size: medium;
    margin: 5px;
}

.date {
    color: lightseagreen;
    margin: 2px;
}

.edit {
    display: inline;
    background: cornflowerblue;
    height: 25px;
    width: 40px;
    border-radius: 7px;
    margin: 5px 2px;
    border-style: none;
}

.delete {
    background: lightcoral;
    height: 28px;
    width: 60px;
    border-radius: 7px;
    margin: 5px 2px;
    border-style: none;
    cursor: pointer;
    color: white;
}

.text-post {
    display: block;
    width: 100%;
    height: 150px;
    background: white;
    margin: 20px 0px;
    border-radius: 10px;
    padding: 3px;
    font-size: medium;
}

.edit-post {
    display: block;
    width: 100%;
    height: 50px;
    background: white;
    margin: 10px 0px;
    border-radius: 10px;
    padding: 3px;
    font-size: medium;
}

.updatepost {
    display: block;
}

.deleteform, updatetext {
    display: inline;
}

.like-val {
    display: inline;
    margin: 10px 0px;
    border-radius: 5px;
    width: 10px;
}

.background, img {
    display: block;
    width: 100%;
    height: 100%;
}

.modal {
    display: block;
    position: absolute;
    top: 33vh;
    left: 35vw;
    background-color: white;
    box-shadow: 0px 0px 0px 100vw rgba(0,0,0,0.6);
    padding: 20px;
    visibility: hidden;
    transition: visibility 0s, opacity 0.5s;
}

.modal-active {
    visibility: visible;
    opacit: 1;
    cursor: pointer;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    color: grey;
}

.info {
    display: flex;
    background-color: #67ae55;
    color: white;
    z-index: 2;
    height: 100px;
    width: 500px;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 100px;
    right: 10px;
}









/*platform structure*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

* {
    box-sizing: border-box
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.side-bar {
    width: 160px;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav ul {
    padding: 0;
}

nav li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 0.6rem 0.3rem;
    font-weight: 400;
    transition: all ease-out 250ms;
}

nav li a:hover {
    color: lime;
}

.main-content {
    margin-left: 160px;
}

section {
    background-color: #f2f2f2;
    height: 90vh;
    margin:0;
    padding:2.5rem 4rem;
}

section:nth-of-type(2n) {
    background-color: #ccc;
}

section:last-of-type {
    height: 100vh;
}

h1 {
    color: #444;
    font-weight: 600;
}

.active {
    color: lime;
    font-weight: 600;
}