<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chart</title>
    <link rel='stylesheet' th:href=@{main.css} type='text/css'>
</head>
<body>
<header>
    <div class="logo">Agile Project Manager</div>
    <div class="container">
        <h3 th:text="${user.firstname}"></h3>
        <br>
        <a class='btn' th:href="@{/logout}">Log Out</a>
    </div>
</header>
<div class="side-bar">
    <nav class="navigation">
        <ul>
            <li>
                <a th:href="@{/projects}">Projects</a>
                <a th:href="@{/teams}">Teams</a>
                <a th:href="@{/chart}">Burn Down Chart</a>
                <a th:href="@{/history}">History</a>
                <a th:href="@{/about}">About</a>
            </li>
        </ul>
    </nav>
</div>
<div class="main-content">

</div>
</body>
</html>