<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chart</title>
    <link rel='stylesheet' th:href=@{main.css} type='text/css'>
</head>
<body>
<header>
    <div class="logo">Agile Project Manager</div>
    <div class="container">
        <h3 th:text="${user.firstname}"></h3>
        <br>
        <a class='btn' th:href="@{/logout}">Log Out</a>
    </div>
</header>
<div class="side-bar">
    <nav class="navigation">
        <ul>
            <li>
                <a th:href="@{/projects}">Projects</a>
                <a th:href="@{/team}">Team</a>
                <a th:href="@{/history}">History</a>
            </li>
        </ul>
    </nav>
</div>
<div class="chartbody">
    <br>
<!--    <h2 th:text="${project.name}"></h2>-->
    <h3>Sprint Chart</h3>
    <div class="signUp">
        <button type="button" id="signup" class="signUpBtn">Create User Story</button>
    </div>
    <div class="modal chartmodal">
        <form action="#" th:action="@{/createStory}" th:object="${issue}" method="post">
            <div class="inputs">
                <input type="text" class="input input_2"  name="priority" placeholder="Priority">
                <br>
                <textarea type="text" class="story-description" name="description" placeholder="Description"></textarea>
                <br>
                <textarea type="text" class="story-details" name="details" placeholder="Details"></textarea>
            </div>
            <div>
                <input type="submit" class="signUpBtn" name="submit" value="Create">
            </div>
            <span class="modal-close">X</span>
        </form>
    </div>
    <br>
    <div class="chart-content">
        <div class="column backlog">
            <div><h3 class="column-title">Backlog</h3></div>
            <div class="column-body d1" th:each="story: ${backlog.stories}">
                <div class="story">
                    <h5 th:text="${story.date}"></h5>
                    <div class="desc" th:text="${story.description}"></div>
                    <div class="actions">
                        <div class="moveoption">
                            <form action="#" th:action="@{/updateStoryStatus}" th:object="${issue}" method="post">
                                <div style="margin-top: 10px;">
                                    <input id="female" checked name="status" type="radio" value="in progress">
                                    <label class="female" for="female">In Progress</label>
                                    <input id="male" name="status" type="radio" value="review">
                                    <label class="male" for="male">Review</label>
                                    <input id="male" name="status" type="radio" value="done">
                                    <label class="male" for="male">Done</label>
                                </div>
                                <div>
                                    <input type="text" hidden name="storyid" th:value="${story.id}">
                                    <input type="submit" class="signUpBtn" name="submit" value="Move">
                                </div>
                            </form>
                        </div>
                        <form action="#" th:action="@{/openStory}" method="post">
                            <input type="text" hidden name="storyid" th:value="${story.id}">
                            <button class="signUpBtn" >View/Edit</button>
                            <button class="delete" th:formaction="@{/delete}">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="column inprogress">
            <div><h3 class="column-title">In Progress</h3></div>
            <div class="column-body d2" th:each="story: ${progress.stories}">
                <div class="story">
                    <h5 th:text="${story.date}"></h5>
                    <div class="desc" th:text="${story.description}"></div>
                    <div class="actions">
                        <div class="moveoption">
                            <form action="#" th:action="@{/updateStoryStatus}" th:object="${issue}" method="post">
                                <div style="margin-top: 10px;">
                                    <input id="female" name="status" type="radio" value="backlog">
                                    <label class="female" for="female">Backlog</label>
                                    <input id="male" checked name="status" type="radio" value="review">
                                    <label class="male" for="male">Review</label>
                                    <input id="male" name="status" type="radio" value="done">
                                    <label class="male" for="male">Done</label>
                                </div>
                                <div>
                                    <input type="text" hidden name="storyid" th:value="${story.id}">
                                    <input type="submit" class="signUpBtn" name="submit" value="Move">
                                </div>
                            </form>
                        </div>
                        <form action="#" th:action="@{/openStory}" method="post">
                            <input type="text" hidden name="storyid" th:value="${story.id}">
                            <button class="signUpBtn" >View/Edit</button>
                            <button class="delete" th:formaction="@{/delete}">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="column review">
            <h3 class="column-title">Review</h3>
            <div class="column-body d3" th:each="story: ${review.stories}">
                <div class="story">
                    <h5 th:text="${story.date}"></h5>
                    <div class="desc" th:text="${story.description}"></div>
                    <div class="actions">
                        <div class="moveoption">
                            <form action="#" th:action="@{/updateStoryStatus}" th:object="${issue}" method="post">
                                <div style="margin-top: 10px;">
                                    <input id="female" name="status" type="radio" value="backlog">
                                    <label class="female" for="female">Backlog</label>
                                    <input id="male" name="status" type="radio" value="in progress">
                                    <label class="male" for="male">In Progress</label>
                                    <input id="male" checked name="status" type="radio" value="done">
                                    <label class="male" for="male">Done</label>
                                </div>
                                <div>
                                    <input type="text" hidden name="storyid" th:value="${story.id}">
                                    <input type="submit" class="signUpBtn" name="submit" value="Move">
                                </div>
                            </form>
                        </div>
                        <form action="#" th:action="@{/openStory}" method="post">
                            <input type="text" hidden name="storyid" th:value="${story.id}">
                            <button class="signUpBtn" >View/Edit</button>
                            <button class="delete" th:formaction="@{/delete}">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="column done">
            <h3 class="column-title">Done</h3>
            <div class="column-body d4" th:each="story: ${done.stories}">
                <div class="story">
                    <h5 th:text="${story.date}"></h5>
                    <div class="desc" th:text="${story.description}"></div>
                    <div class="actions">
                        <div class="moveoption">
                            <form action="#" th:action="@{/updateStoryStatus}" th:object="${issue}" method="post">
                                <div style="margin-top: 10px;">
                                    <input id="male" checked name="status" type="radio" value="backlog">
                                    <label class="male" for="male">Backlog</label>
                                    <input id="female" name="status" type="radio" value="in progress">
                                    <label class="female" for="female">In Progress</label>
                                    <input id="male" name="status" type="radio" value="review">
                                    <label class="male" for="male">Review</label>
                                </div>
                                <div>
                                    <input type="text" hidden name="storyid" th:value="${story.id}">
                                    <input type="submit" class="signUpBtn" name="submit" value="Move">
                                </div>
                            </form>
                        </div>
                        <form action="#" th:action="@{/openStory}" method="post">
                            <input type="text" hidden name="storyid" th:value="${story.id}">
                            <button class="signUpBtn" >View/Edit</button>
                            <button class="delete" th:formaction="@{/delete}">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{main.js}"></script>
</body>
</html>