<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
    <link rel='stylesheet' th:href=@{main.css} type='text/css'>
</head>
<body>
<header>
    <div class="logo">Agile Project Manager</div>
    <div class="container">
        <h3 th:text="${user.firstname}"></h3>
        <br>
        <a class='btn' th:href="@{/logout}">Log Out</a>
    </div>
</header>
<div class="side-bar">
    <nav class="navigation">
        <ul>
            <li>
                <a th:href="@{/projects}">Projects</a>
                <a th:href="@{/teams}">Teams</a>
                <a th:href="@{/history}">History</a>
                <a th:href="@{/about}">About</a>
            </li>
        </ul>
    </nav>
</div>
<div class="main-content">
    <section id="projectsection">
        <h1>Projects</h1>
        <div class="signUp">
            <button type="button" id="signup" class="signUpBtn">Create Project</button>
        </div>
        <div class="modal">
            <form action="#" th:action="@{/createproject}" th:object="${project}" method="post">
                <div class="inputs">
                    <input type="text" class="input input_2"  name="projectname" placeholder="Project Name">
                </div>
                <div>
                    <input type="submit" class="signUpBtn" name="submit" value="Create">
                </div>
                <span class="modal-close">X</span>
            </form>
        </div>
        <div class="projectbody">
            <table>
                <thead>
                <tr>
                    <th>SN</th>
                    <th>Project Name</th>
                    <th>Project Lead</th>
                    <th>Date Created</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody th:each="project: ${leadprojects}">
                <tr>
                    <td data-column="SN"></td>
                    <td data-column="Project Name" th:text="${project.name}"></td>
                    <td data-column="Project Lead" th:text="${user.firstname}"></td>
                    <td data-column="Date Created" th:text="${project.date}"></td>
                    <td data-column="Action">
                        <form action="#" th:action="@{/chart}" method="post">
                            <input type="text" hidden name="projectid" th:value="${project.id}">
                            <input type="submit" class="signUpBtn" name="submit" value="Open" >
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>
<script th:src="@{main.js}"></script>
</body>
</html>